//====================================================================================================
.header {
	position: absolute;
	z-index: 30;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	transition: all 0.3s ease 0s;

	@media (min-width:$mobile){
		padding: 30px 0;
	}
	@media (min-width: $tablet) {
		padding: 60px 0;
	}
	// .header__container
	&__container {
		@media (min-width: $tablet) {
			display: flex;
		}
	}

	// .header__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (min-width: $tablet) {
			column-gap: 40px;
			justify-content: space-between;
			flex: 0  0 percent(540,1200);
		}
		@media (min-width:$pc){
			flex: 0  0 percent(563,1200);
		}
	}


	// .header__logo
	&__logo {
		column-gap: 12px;
		span {
			font-size: 24px;
			line-height: math.div(29,24);
		}
	}

	// .header__menu
	&__menu {
	}
}

.menu {
	@media (min-width:$tablet){
		// flex-grow: 1; 
	}
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			z-index: 51;
			top: 0;
			right: 0;
			height: 100%;
			padding: 30px;
			width: 320px;
			transform: translateX(100%);
			transition: all 0.5s ease 0s;
			background-color: var(--accent-color);
			display: flex;
			justify-content: center;
			align-items: center;
			.menu-open & {
				transform: translateX(0);
			}
		}
		
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		flex-direction: column;
		@media (min-width: $tablet) {
			flex-direction: row;
			column-gap: 20px;
		}
		@media (min-width:$pc){
			column-gap: 55px;
		}
	}

	// .menu__overlay
	&__overlay {
		position: fixed;
		z-index: 50;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0;
		transition: all 0.3s ease 0s;
		pointer-events: none;
		.menu-open & {
			opacity: 0.4;
			pointer-events: visible;
		}
		@media (min-width: $tablet) {
			display: none;
		}
	}


	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
		padding: 14px 28px;
		font-size: 25px;
		display: inline-block;
		color: #ffffff;
		@media (min-width:$tablet){
			padding: 0 5px; 
			color: var(--main-text-color);
			font-size: 16px;
		}
	}
}


//====================================================================================================

//Burger

.icon-menu {
	position: relative;
	z-index: 52;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent-color);
	border-radius: 55%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	.menu-open & {
		background-color: #ffffff;
	}
	@media (min-width: $tablet) {
		display: none;
	}
	&__inner {
		position: relative;
		width: 18px;
		height: 18px;
		// background-color: var(--accent-color);
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span,
			&::before,
			&::after {
				background-color: var(--accent-color);
			}
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
	
}

