//====================================================================================================
.page {

  // .page__main-block
  &__main-block {
  }

  // .page__store
  &__store {
  }

  // .page__categories
  &__categories {
  }

  // .page__categories
  &__categories {
  }

  // .page__best-brands
  &__best-brands {
  }

  // .page__why-try-rhythm

  &__why-try-rhythm {
  }

  // .page__testimonials
  &__testimonials {
  }

  // .page__app
  &__app {
  }


}

//====================================================================================================
.main-block {
  min-height: 630px;
  position: relative;
  padding-bottom: 50px;
  @media (min-width:$tablet){
      padding-bottom: 160px;
  }
  @media (min-width:$pc){
    padding-bottom: 220px; 
  }
  // .main-block__container
  &__container {
    display: flex;
    
    flex-direction: column-reverse;
    @media (min-width:$mobile){
      flex-direction: row;
      justify-content: space-between;
    }
    
  }

  // .main-block__content
  &__content {
    padding-top: 50px;
    @media (min-width:$mobileSmall){
      padding-top: 60%;
      
    }
    @media (min-width:$mobile){
      padding-top: 230px;
      flex: 0 0 370px;
    }
    @media (min-width:$tablet){
      flex: 0 0 50%;
    }
  }

  // .main-block__body
  &__body {
    max-width: 350px;
    @media (min-width:$mobileSmall){
      padding-left: 50px;
    }
    @media (min-width: 630px){
      padding-left: 0;
      max-width: none;
      text-align: center;
    }
    @media (min-width:$mobile){
      text-align: left;
      padding-left: 0;
    }
  }

  // .main-block__title

  &__title {
    margin-bottom: 16px;
  }

  // .main-block__text
  &__text {
    margin-bottom: 30px;
    @media (min-width:$tablet){
      max-width: 400px; 
    }
  }

  // .main-block__footer
  &__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 40px;
    @media (min-width:$mobileSmall){
        flex-direction: row;
        padding-left: 50px;
    }
    @media (min-width:630px){
      padding-left: 0;
      justify-content: center;
    }
    @media (min-width:$mobile){
        justify-content: start;
    }
  }

  // .main-block__button
  &__button {
    margin-bottom: 25px;
    @media (min-width:$mobileSmall){
      margin-bottom: 0; 
    }
  }
  // .main-block__icons
  &__icons {
    display: flex;
    align-items: center;
    column-gap: 28px;
    a {
      display: flex;
      align-items: center;
    }
  }

  // .main-block__poster
  &__poster {
    position: relative;
    margin: 0 -15px;
    padding-bottom: 115%;
    @media (min-width:$mobileSmall){
      margin: 0;
      padding-bottom: 350px;
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      padding-bottom: 50%;
    }

    @media (min-width:$mobile){
      position: relative;
      height: 586px;
      padding-bottom: 0;
      transform: translateX(15px);
    }
    @media (min-width:$tablet){
      width: 670px;
    }
    @media (min-width:$pc){
      position: absolute;
      left: 50%;
      right: auto;
      transform: translateX(50px); 
    }
    img {
      width: 100%;
      border-radius: 0 0 35px 110px;
      overflow: hidden;
      object-fit: cover;
      object-position: 50% 85%;
      @media (min-width:$mobile){
        border-radius: 0 0 65px 210px;
      }
      @media (min-width:$tablet){
        border-radius: 0 0 80px 250px;
      }
      @media (min-width:$pc){
        border-radius: 0 0 151px 360px;
      }
    }
  }

  // .main-block__logo
  &__logo {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(96%, 50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width:$mobile){
      transform: translate(50px, 50%);
      width: 80px;
      height: 80px;
    }
    &::before {
      color: var(--accent-color);
      font-size: 24px;
    }
  }
}

// .player {
//   width: 60px;
//   height: 60px;
//   border-radius: 50%;
//   background-color: #ffffff;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   @media (min-width:$mobile){
//     width: 80px;
//     height: 80px;
//   }
//   audio {
//     height: 80px;
//     display: none;
//   }
// }

//====================================================================================================

.store {
  padding-bottom: 80px;
  @media (min-width:$mobile){
    padding-bottom: 180px;
  }
  
  // .store__container
  &__container {
  }

  // .store__title
  &__title {
  }

  // .store__row
  &__row {
  }
}

.row-store {
  &:not(:last-child) {
    margin-bottom: 55px;
    @media (min-width:$tablet){
      margin-bottom: 95px;
    }
  }
  // .row-store__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .row-store__title

  &__title {
    font-size: 17px;
    letter-spacing: 0.08em;
    color: var(--title-color);
    font-weight: 600;
    @media (min-width:$tablet){
      font-size: 20px;
    }
  }
  // .row-store__link
  &__link {
    font-weight: 500;
      font-size: 17px;
      color: var(--second-text-color);
      padding: 0 5px;
      @media (min-width:$tablet){
        font-size: 20px;
      }
  }

  // .row-store__body
  &__body {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(290px,1fr));
    column-gap: 25px;
    @media (min-width:$tablet){
      grid-template-columns: repeat(auto-fill, minmax(365px,1fr));
    }
  }

  // .row-store__item
  &__item {
  }
}

.item-store {
  // .item-store__image
  &__image {
    max-width: 365px;
    min-height: 152px;
    img {
      width: 100%;
    }
  }

  // .item-store__title
  &__title {
    font-weight: 500;
    color: var(--title-color);
  }

  // .item-store__price

  &__price {
    &::before{
      content:'$';
    }
  }
}

//====================================================================================================

.categories {
  padding-bottom: 120px;
  @media (min-width:$mobile){
    padding-bottom: 220px;
  }
  
  // .categories__container
  &__container {
  }

  // .categories__title

  &__title {
  }

  // .categories__row
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    justify-content: space-between;
    gap: 15px;
    @media (min-width:$tablet){
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
      gap: 30px;
    }
  }

  // .categories__item
  &__item {
  }
}

.item-categories {
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  @media (min-width:$tablet){
    height: 280px;
  }
  @media (any-hover: hover){
    &:hover {
      cursor: pointer;
      & .item-categories__second-screen {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &::before {
    content:'';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
    @media (min-width:$tablet){
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.082) 50%, rgba(0, 0, 0, 0.8) 100%);
    }
  }
  img {
    z-index: 1;
  }
  &__first-screen,
  &__second-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  // .item-categories__first-screen
  &__first-screen {
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    h3 {
      text-align: center;
    }
    @media (min-width:$tablet){
      padding: 30px;
    }
  }

  // .item-categories__second-screen
  &__second-screen {
    overflow-y: auto;
    padding: 15px;
    height: 75%;
    @media (min-width:$tablet){
      height: 80%;
      @media (any-hover: hover){
        transform: translateY(-100%);
        opacity: 0;
        transition: all 0.3s ease 0s;
      }
    }
  }

  // .item-categories__second-screen-inner
  &__second-screen-inner {
    overflow: hidden;
    height: 100%;
  }

  // .item-categories__second-screen-text
  &__second-screen-text {
    padding-right: 5px;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar {
      width: 3px; /* ширина для вертикального скролла */
      height: 3px; /* высота для горизонтального скролла */
      border-radius: 2px;
      // background-color: #45824500;
    }
  
    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: #ffffff84;
    }
  }
}

//====================================================================================================


.best-brands {
  padding-bottom: 100px;
  @media (min-width:$mobile){
    padding-bottom: 200px
  }
  
  // .best-brands__container
  &__container {
  }

  // .best-brands__title
  &__title {
  }

  // .best-brands__body
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 25px;
    @media (min-width:$mobile){
      grid-template-columns: repeat(4,1fr);
    }
  }

  // .best-brands__item

  &__item {
  }
}

//====================================================================================================

.why-try-rhythm {
  background-color: #121212;
  padding-top: 95px;
  padding-bottom: 95px;
  // .why-try-rhythm__container
  &__container {
  }

  // .why-try-rhythm__title
  &__title {
    color: #ffffff;
  }

  // .why-try-rhythm__body
  &__body {
    display: grid;
    row-gap: 50px;
    column-gap: 10px;
    @media (min-width:$mobile){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // .why-try-rhythm__item
  &__item {
    display: grid;
    justify-items: center;
  }

  // .why-try-rhythm__item-image
  &__item-image {
    width: 72px;
    height: 72px;
    border-radius: 20px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    @media (min-width:$mobile){
      margin-bottom: 40px;
    }
  }

  // .why-try-rhythm__item-title

  &__item-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: math.div(27,18);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
  }

  // .why-try-rhythm__item-text
  &__item-text {
    text-align: center;
    max-width: 230px;
  }
}


//====================================================================================================

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (min-width:$tablet){
    padding-top: 240px;
    padding-bottom: 240px;
  }
  
  // .testimonials__container

  &__container {
  }

  // .testimonials__title

  &__title {
  }

  // .testimonials__slider

  &__slider {
    position: relative;
  }

  // .testimonials__swiper

  &__swiper {
    
  }

  // .testimonials__slide

  &__slide {
  }

  // .testimonials__slider-pagination
  &__slider-pagination {
    // background: #ffffff;
    position: relative;
    width: 100px;
    height: 40px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    @media (min-width:$tablet){
      left: inherit;
      right: 0;
      bottom: 25px;
      position: absolute;
    }

    .swiper-pagination-bullet {
      flex: 0 0 10px;
      height: 16px;
      background-color: #C4C4C4;
      border-radius: 20px;
      transition: all 0.3s ease 0s;
    }
    .swiper-pagination-bullet-active {
      flex: 0 0 24px;
      height: 12px;
      background-color: var(--accent-color);
    }
  }
}

.slide {
  @media (min-width:$tablet){
    display: flex;
    padding-left: 100px;
    padding-right: 15px;
    justify-content: space-between;
    column-gap: 20px
  }
  
  // .slide__column
  &__column {
    display: flex;
    justify-content: center;
    position: relative;


    @media (min-width:$tablet){
      &:first-child {
        flex: 0 0 percent(407,1075);
        justify-content: flex-end;
      }
      &:last-child {
        flex: 0 0 percent(534,1075);
        align-items: center;
      }
    }
    
  }
  // .slide__image
  &__image {
    width: 191px;
    height: 200px;
    @media (min-width:$tablet){
      width: 326px;
      height: 341px;
    }
    
    &::before {
      content:'';
      position: absolute;
      top: 7%;
      left: 50%;
      width: 150px;
      height: 150px;
      background: #FF6428;
      border-radius: 20px 0 200px 200px;
      transform: rotate(-7.72deg) translateX(-25px);
      @media (min-width:$tablet){
        border-radius: 40px 0 400px 400px;
        width: 285px;
        height: 258px;
        top: 15%;
        left: 0;
      }
    }
    img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: 200px;
    }
  }

  // .slide__card
  &__card {
    line-height: 1.6;
  }

  // .slide__text-wrapper
  &__text-wrapper {
    @media (min-width:$tablet){
      height: 185px;
      margin-bottom: 25px;
      overflow: hidden;
    }
    
  }

  // .slide__text
  &__text {
    padding: 20px 0;
    font-size: 18px;
    
    @media (min-width:$tablet){
      padding: 0;
      font-size: 2.4rem;
      padding-right: 10px;
      overflow-y: scroll;
      height: 100%;
  
      &::-webkit-scrollbar {
        width: 3px; /* ширина для вертикального скролла */
        height: 3px; /* высота для горизонтального скролла */
        border-radius: 2px;
        // background-color: #45824500;
      }
    
      /* ползунок скроллбара */
      &::-webkit-scrollbar-thumb {
        background-color: var(--accent-color);
      }
    }
    
  }

  // .slide__footer
  &__footer {
  }

  // .slide__name
  &__name {
    font-weight: 600;
    font-size: 2.4rem;
    color: #000000;
    margin-bottom: 8px;
  }

  // .slide__profession
  &__profession {
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }
}

.app {
  padding-bottom: 60px;
  @media (min-width:$tablet){
    padding-bottom: 120px;
  }
  
  // .app__container
  &__container {
  }

  // .app__row
  &__row {
    @media (min-width:$tablet){
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 30px;
      padding: 0 15px;
    }
    
  }

  // .app__column
  &__column {
    &:first-child {
      flex: 0 0 percent(484,1170);
    }
    &:last-child {
      flex: 0 0 percent(568,1170);
    }
  }

  // .app__title
  &__title {
    @media (min-width:$tablet){
      text-align: left;
    }
    
  }

  // .app__buttons
  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 25px;
    padding-bottom: 40px;
    @media (min-width:$tablet ){
      justify-content: flex-start; 
    }
  }

  // .app__button
  &__button {
  }

  // .app__images
  &__images {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    padding: 0 60px;
    @media (min-width:$mobile){
      column-gap: 35px;
    }
    &::before{
      content:'';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 360px;
      height: 258px;
      border-radius: 50%;
      background-color: var(--accent-color);
      @media (min-width:$mobile){
        width: 568px;
        height: 354px;
      }
    }
    img {
      border-radius: 11px;
      width: 153px;
      height: 331px;
      filter: drop-shadow(0 4px 80px rgba(0, 0, 0, 0.08));
      &:last-child {
        margin-top: 35px;
        @media (min-width:$mobile){
          margin-top: 75px;
        }
      }
      @media (min-width:$mobile){
        border-radius: 22px;
        width: 213px;
        height: 461px;
      }
    }
  }

}





